Repository equinor/dependency-consistency: changes, and which pre-commit hooks are due for each by the changed paths.
All: keep-dependencies-consistent, consistent-dependencies

keep-dependencies-consistent:
  name: Keep specified dependencies consistent
  language: node
  entry: node scripts/keep-own-dependencies-up-to-date.cjs
  pass_filenames: false

consistent-dependencies:
  name: Keep these dependencies consistent
  language: node
  entry: node index.cjs
  pass_filenames: false
  args:
  - package-lock.json

fix: package.json to reduce vulnerabilities
  package.json
Due: none

fix: Ensure new dependencies in package.json are added
  scripts/keep-own-dependencies-up-to-date.cjs
Due: none

feat: Support all Node.js additional_hooks
  .pre-commit-hooks.yaml
  index.cjs
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

breaking: Change hook name to reflect wider support
  .pre-commit-hooks.yaml
  package.json
Due: keep-dependencies-consistent

doc: Update documentation for how to use the new version
  README.md
Due: none

fix: Update version in `package-lock.json`
  package-lock.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Update dev dependencies
  package-lock.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: Read `package-lock.json` version 3
  scripts/keep-own-dependencies-up-to-date.cjs
Due: none

feat: Support `poetry.lock` files
  .pre-commit-hooks.yaml
  index.cjs
  package-lock.json
  package.json
  shared.cjs
Due: keep-dependencies-consistent, consistent-dependencies

feat: Support `requirements.txt` files
  .pre-commit-hooks.yaml
  index.cjs
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: Deal with version schemes different from `<N>.<N>.<N>`
  shared.cjs
Due: none

feat: Release (2.1.0)
  README.md
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @types/semver-sort from 0.0.2 to 0.0.5
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/eslint-plugin from 7.5.0 to 7.6.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/parser from 7.5.0 to 7.6.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade typescript-eslint from 7.5.0 to 7.6.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Upgrade ESLint
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Consistent use of newer `xo` style(s)
  eslint.config.mjs
  index.cjs
  scripts/keep-own-dependencies-up-to-date.cjs
  shared.cjs
  tsconfig.json
Due: none

chore: Update runtime environments and utilities
  .tool-versions
Due: none

fix: upgrade @typescript-eslint/eslint-plugin from 8.3.0 to 8.4.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/parser from 8.3.0 to 8.4.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade typescript-eslint from 8.3.0 to 8.4.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade typescript from 5.5.4 to 5.6.2
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/eslint-plugin from 8.3.0 to 8.5.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Use `pre-commit`'s new (since 3.2.0) stage names
  .pre-commit-hooks.yaml
Due: keep-dependencies-consistent

chore: Update dependencies
  .pre-commit-config.yaml
  package-lock.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Resolve issues / suggestions from ESLint
  index.cjs
Due: none

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Due: consistent-dependencies

doc: Add SECURITY.md in accordance with Equinor requirements
  SECURITY.md
Due: none

feat: Release (2.1.1)
  package.json
Due: none

fix: upgrade @typescript-eslint/eslint-plugin from 8.31.0 to 8.31.1
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/parser from 8.31.0 to 8.31.1
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade typescript-eslint from 8.31.0 to 8.31.1
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Update runtimes
  .tool-versions
Due: none

feat: Support python packages with extras
  index.cjs
  shared.cjs
Due: none

fix: Some (npm) packages may have a `.` in their name
  shared.cjs
Due: none

fix: Allow packages to use capitalization
  index.cjs
  shared.cjs
Due: none

refactor: Execute `index.cjs` directly
  index.cjs
  package-lock.json
  package.json
  run.sh
Due: keep-dependencies-consistent, consistent-dependencies

Path conditions:
  keep-dependencies-consistent: any of: ^(.pre-commit-hooks.yaml|package-lock.json)$
  consistent-dependencies: any of: ^(.pre-commit-config.yaml|package-lock.json)$
