Repository equinor/dependency-consistency: changes, and which pre-commit hooks are due for each by the changed paths.
All: keep-dependencies-consistent, consistent-dependencies

keep-dependencies-consistent:
  name: Keep specified dependencies consistent
  language: node
  entry: node scripts/keep-own-dependencies-up-to-date.cjs
  pass_filenames: false

consistent-dependencies:
  name: Keep these dependencies consistent
  language: node
  entry: node index.cjs
  pass_filenames: false
  args:
  - package-lock.json

feat: Release (2.1.2)
  README.md
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: The GitHub Action only needs permission to read the repository
  .github/workflows/ci.yaml
Due: none

fix: upgrade @typescript-eslint/eslint-plugin from 8.32.1 to 8.33.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @typescript-eslint/parser from 8.32.1 to 8.33.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade typescript-eslint from 8.32.1 to 8.33.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade @eslint/js from 9.27.0 to 9.28.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: upgrade eslint from 9.27.0 to 9.28.0
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: Will no longer match and replace the first line it finds
  index.cjs
Due: none

fix: Include all relevant project files
  tsconfig.json
Due: none

chore: Use `biome` rather than `eslint`
  .pre-commit-config.yaml
  biome.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

chore: Format according to `biome`
  index.cjs
  scripts/keep-own-dependencies-up-to-date.cjs
  shared.cjs
  tsconfig.json
Due: none

fix: upgrade typescript from 5.8.3 to 5.9.2
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

refactor: Node.js 24.6 comes with built-in SQLite support
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .tool-versions
  index.cjs
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: Use consistent version of Node.js
  .github/workflows/ci.yaml
Due: none

refactor: Define types for reusability
  index.cjs
  types.d.ts
Due: none

refactor: Helper method for updating a YAML file
  scripts/keep-own-dependencies-up-to-date.cjs
  shared.cjs
  types.d.ts
Due: none

fix: Ensure Node.js runtimes are consistent with `.tool-versions`
  .pre-commit-config.yaml
  scripts/keep-runtimes-consistent.cjs
Due: consistent-dependencies

refactor: Define / load database once
  index.cjs
Due: none

refactor: `async` / `await` is no longer necessary
  index.cjs
Due: none

feat: Add support for `uv.lock`
  index.cjs
Due: none

feat: Release (3.0.0)
  README.md
Due: none

doc: Corrected a typo
  README.md
Due: none

doc: We support `uv`
  README.md
Due: none

fix: Package names _may_ contain `_`
  shared.cjs
Due: none

fix: Look up python packages by their normalized names
  index.cjs
  shared.cjs
Due: none

perf: Replace `toml` with `smol-toml`
  .pre-commit-hooks.yaml
  index.cjs
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

refactor: Satisfy `noAccumulatingSpread`
  index.cjs
  scripts/keep-own-dependencies-up-to-date.cjs
Due: none

refactor: Use template strings instead of concatenation
  index.cjs
Due: none

fix: Define supported languages as a constant list
  index.cjs
Due: none

refactor: Move all global variables to a `main` method
  src/index.cjs
Due: none

refactor: Move all global variables to a `main` method
  index.cjs
Due: none

Add Dependabot
  .github/dependabot.yml
Due: none

chore: Remove unused dependency (`globals`)
  package-lock.json
  package.json
Due: keep-dependencies-consistent, consistent-dependencies

fix: Adjust for breaking changes
  .pre-commit-hooks.yaml
  shared.cjs
Due: keep-dependencies-consistent

fix: Update dependency in hook
  .pre-commit-hooks.yaml
Due: keep-dependencies-consistent

feat: Release (3.1.0)
  README.md
  package.json
Due: none

refactor: Gather relevant files under `src`
  .pre-commit-config.yaml
  package.json
  scripts/keep-own-dependencies-up-to-date.cjs
  scripts/keep-runtimes-consistent.cjs
  src/index.cjs
  src/shared.cjs
  src/types.d.ts
Due: consistent-dependencies

chore: Update and pin GitHub Actions
  .github/workflows/ci.yaml
Due: none

feat: Support `prek.toml`
  README.md
  src/index.cjs
Due: none

chore: Update TypeScript to version 6
  package-lock.json
  package.json
  src/shared.cjs
  tsconfig.json
Due: keep-dependencies-consistent, consistent-dependencies

Path conditions:
  keep-dependencies-consistent: any of: ^(.pre-commit-hooks.yaml|package-lock.json)$
  consistent-dependencies: any of: ^(.pre-commit-config.yaml|package-lock.json)$
